/* Googleフォントのインポート */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* 色の設定 */
:root {
  --darkgreen: #1f4e5f;
  --ashgreen: #79a8a9;
  --mint: #aacfd0;
  --white: #f4f7f7;
}

/* 全要素に共通のスタイリング */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html, body, main の基本設定 */
html, body , main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* bodyとmainにグリッドレイアウトを適用 */
body, main{
  display: grid;
  place-items: center;
}

/* メインコンテンツのグリッドレイアウト */
#main-wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: 
  "one one one"1fr 
  "two three four"5fr 
  "five five seven"4fr 
  "six six seven"4fr / 2fr 2fr 1fr;
}
@media screen and (max-width: 768px) {
  #main-wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 
    "one one one"1fr 
    "two three four"4fr 
    "seven seven seven"2fr 
    "five five five"3fr 
    "six six six"3fr / 2fr 2fr 1fr;
  }
}

/* グリッド子要素の設定 */
.item {
  border: 1px solid var(--ashgreen);
  width: 100%;
  height: 100%;
}


/* グリッドエリアごとの設定 */
.item1 {
  grid-area: one;
  border: none;
}
.item2 {
  grid-area: two;
}
.item3 {
  grid-area: three;
}
.item4 {
  grid-area: four;
}
.item5 {
  grid-area: five;
  display: flex;
}
.item6 {
  grid-area: six;
  display: flex;
}
.item7 {
  grid-area: seven;
}

/* タイトルのスタイル */
.item1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: var(--white);
  background-color: var(--darkgreen);
  width: 100%;
  text-align: center;
  margin: 0;
}

/* 小計、支払い、お釣りのスタイル */
.subtotal-payment-change-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--white);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.5rem;
  line-height: 2.25;
}

#amount, #totalInTray, #change-amount {
  color: var(--darkgreen);
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 768px){
  .subtotal-payment-change-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--white);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.0rem;
    line-height: 2.25;
  }

  #amount, #totalInTray, #change-amount {
    color: var(--darkgreen);
    font-weight: bold;
    font-size: 1.5rem;
  }
}

/* タイマーのスタイル */
#status-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--white);
  border-right: none;
}

#time {
  font-size: 7rem;
  color: var(--darkgreen);
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
@media screen and (max-width: 768px) {
  #time {
    font-size: 5rem;
    color: var(--darkgreen);
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
}


/* トレイとコインエリアのスタイル */
#tray {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#coins-area {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.coin, .coin-in-tray {
  flex: 1;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-left: 2px solid var(--ashgreen);
  padding: 10px;
  height: 100%;
  cursor: pointer;
  background-color: var(--white);
}

#coin1000, #trayCoin1000 {
  flex: 2;
}

.count, .count-in-tray {
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--darkgreen);
  color: #fff;
  padding: 2px 5px;
  border-radius: 4px;
}

/* コインの背景画像 */
#coin1, #trayCoin1 { background-image: url('./images/coin1.png'); }
#coin5, #trayCoin5 { background-image: url('./images/coin5.png'); }
#coin10, #trayCoin10 { background-image: url('./images/coin10.png'); }
#coin50, #trayCoin50 { background-image: url('./images/coin50.png'); }
#coin100, #trayCoin100 { background-image: url('./images/coin100.png'); }
#coin500, #trayCoin500 { background-image: url('./images/coin500.png'); }
#coin1000, #trayCoin1000 { background-image: url('./images/coin1000.png'); }


/* 支払いボタンのスタイル */
#payment-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; 
  border: none;
}

#payment {
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#payment button {
  width: 100%; 
  height: 100%;
  background-color: var(--ashgreen);
  font-weight: bold;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  border: none;
  cursor: pointer;  
}

/* スタートボタンのスタイル */
#startButton {
  background-color: var(--mint);
  font-weight: bold;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  border: none;  
  cursor: pointer; 
}


/* スコア表示用のモーダルのスタイル */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 20px;
  width: 350px;
  background-color: var(--white);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: var(--darkgreen);
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

p {
  font-weight: bold;
}


#grade {
  font-size: 24px;
}

#detailsButton {
  background-color: var(--darkgreen);
  color: var(--white);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.score-rank-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
}

.score-section, .rank-section {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: var(--mint);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.score-label, .rank-label {
  margin-right: 8px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

#score, #rank {
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#rank {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#detailsButton {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#details-section {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* ゲーム停止モーダルウィンドウ */
.stop-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.stop-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mint);
  border-radius: 8px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

#stop-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: var(--darkgreen);
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

/* 画像を非表示にするクラス */
.no-image {
  background-image: none !important; 
}
